{% extends "shop/bases.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="list-group" id="item-list">
          <h3 class="text-center"> This is your list</h3>
           

          </ul>

    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="items", name="items"> <!-- new hidden input-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="text" id="name" name="name" class="form-control" id="inputEmail4" placeholder="Odward">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" id="email" name="email" class="form-control" id="inputPassword4" placeholder="odward58@gmail.com">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" id="address" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
           
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" name="city" id="city" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Country</label>
                <select id="country" name="country" class="form-control">
                  <option selected>France</option>
                  <option>Cameroon</option>
                  <option>Germany</option>
                  <option>Sweden</option>
                  <option>England</option>
                  <option>Spain</option>

                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input name="zipcode" id="zipcode"  type="text" class="form-control">
              </div>
              </div>

              <div class="form-group col-md-2">
                <label for="inputZip">Total sum to pay</label>
                <input name="total" id="total"  type="readonly" class="bg-dark text-success form-control">
              </div>
              </div>






            <div class="form-group">
              
            <button type="submit" class="btn btn-primary">Order</button>
          </form>

</div>
</div>









{% endblock%}
{% block js %}
<script type="text/javascript">
        if(localStorage.getItem('cart')==null){ /*if empty localstorage*/
            var cart =  {};

        }else{
            cart = JSON.parse(localStorage.getItem('cart'));/*If not empty localstorage*/
        }
        var total = 0;
        var number = 0;
        console.log(cart)
        for(item in cart){
            let name = cart[item][1]; /*instance*/
            let quantity = cart[item][0];
            let price = cart[item][2];
            number += quantity;
            total += price;
            let itemString =
             `<li class="list-group-item d-flex justify-content-between align-items-center">${name}
              <center> <span class="badge badge-primary bg-primary badge-pill"> QTY: ${quantity}</span></center>
                <center><span  class="badge badge-warning bg-primary badge-pill">€ ${price}</span></center>
            </li>`;
            $('#item-list').append(itemString); /*Display the itemString variable refet to tag where id=#item-list*/
        }
        let itemNombre = ` <li class="list-group-item d-flex justify-content-between align-items-center">
              <b class="bg-success ">TOTAL</b>
              <center><span class="badge badge-danger bg-success badge-pill"> QTY: ${number} </span></center>
                  <span class="badge badge-danger bg-success badge-pill">€ ${total}</span>
            </li>`;
            $('#item-list').append(itemNombre);
            $('#total').val("€"+total); /*give to total the value from my var above*/


        $('#items').val(JSON.stringify(cart));
    // if(localStorage.getItem('cart')==null){
    //   var cart = {};

    // }else{
    //   cart = JSON.parse(localStorage.getItem('cart'));
    // }
    // for(item in cart){
    //   let name = cart[item][1];
    //   let quantity = cart[item][0];

    // }
</script>
{% endblock%}
